<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#5b92aa">
        <meta name="google-site-verification" content="OFYFhwH45Ur4cHfY_HZFaLhzu68hYRxweFEH4Gv6KS4">
        <meta property="og:site_name" content="Adorable Themes">
        <meta property="og:title" content="{{ page.theme_name }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:locale" content="en_us">
        <meta property="og:image" content="/assets/full_{{ page.shortname }}.jpg">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <!--[if lt IE 9]><script src="//static.tumblr.com/hriofhd/Qj0m8pn7q/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">Adorable Themes</a></h1>
            </header>
            <main>
                <article class="post-section">
                    {% if page.theme_image %}<figure><img src="/assets/full_{{ page.shortname }}.jpg" /></figure>{% endif %}
                    <h2>{{ page.theme_name }} Theme</h2>
                    <p><small>Last update: <b>{{ page.theme_version }}</b> ({{ page.theme_date }})</small></p>
                    <p><a href="/preview/{{ page.shortname }}" target="_blank">Preview</a> | <a href="https://raw.githubusercontent.com/adorablethemes/themes/master/{{ page.shortname }}.txt" target="_blank">Code &rarr;</a></p>
                    <ul>
                        {% if page.info_1 %}<li>{{ page.info_1 }}</li>{% endif %}
                        {% if page.info_2 %}<li>{{ page.info_2 }}</li>{% endif %}
                        {% if page.info_3 %}<li>{{ page.info_3 }}</li>{% endif %}
                        {% if page.info_4 %}<li>{{ page.info_4 }}</li>{% endif %}
                        {% if page.info_5 %}<li>{{ page.info_5 }}</li>{% endif %}
                    </ul>
                </article>
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
        {% include ga.html %}
    </body>
</html>